<section class="pt-5">
<div class="form-container">
    <h2 class="text-center">Register</h2>
    <form  [formGroup]="formGroup" (ngSubmit)="Submit()">

        <div class="form-group">
  <label>UserName</label>
  <input type="text" class="form-control" formControlName="userName"
    [class.is-valid]="_username?.valid && _username?.touched"
    [class.is-invalid]="_username?.invalid && _username?.touched">
  <span class="text-danger" *ngIf="_username?.invalid && _username?.touched">
    UserName is Required
  </span>
</div>

<div class="form-group">
  <label>DisplayName</label>
  <input type="text" class="form-control" formControlName="displayName"
    [class.is-valid]="_displayName?.valid && _displayName?.touched"
    [class.is-invalid]="_displayName?.invalid && _displayName?.touched">
  <span class="text-danger" *ngIf="_displayName?.invalid && _displayName?.touched">
    DisplayName is Required
  </span>
</div>

<div class="form-group">
  <label>Email</label>
  <input type="email" class="form-control" formControlName="email"
    [class.is-valid]="_email?.valid && _email?.touched"
    [class.is-invalid]="_email?.invalid && _email?.touched">
  <span class="text-danger" *ngIf="_email?.hasError('required') && _email?.touched">
    Email is Required
  </span>
  <span class="text-danger" *ngIf="_email?.hasError('email') && _email?.touched">
    Email Format Invalid (e.g., test&#64;ts.com)
  </span>
</div>

<div class="form-group">
  <label>Password</label>
  <input type="password" class="form-control" formControlName="password"
    [class.is-valid]="_password?.valid && _password?.touched"
    [class.is-invalid]="_password?.invalid && _password?.touched">
  <span class="text-danger" *ngIf="_password?.hasError('required') && _password?.touched">
    Password is Required
  </span>
  <span class="text-danger" *ngIf="_password?.hasError('pattern') && _password?.touched">
    Password must contain at least one number, one special character (#$&#64;!.), and be at least 8 characters long
  </span>
</div>

  <div class="form-group">
     <button type="submit" class="btn btn-info w-100 mt-3" [disabled]="formGroup.invalid">Register</button>
  </div>
 


    </form>

</div>

</section>
