
<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="Address">
        <ng-template matStepLabel>Fill out your Address</ng-template>
        <app-address ngSkipHydration [address]="Address"></app-address>
    </mat-step>

    <mat-step [stepControl]="DeliveryMethod" label="Choose Your Delivery Method">
       <app-delivery ngSkipHydration [delivery]="DeliveryMethod" ></app-delivery>
       
    </mat-step>
    <mat-step>

        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button matButton matStepperPrevious>Back</button>
            <button matButton (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>
  