<router-outlet></router-outlet>
<div class="container mt-5">
  <div class="row">
    <h1 class="main-title">Shopping</h1>
    <section class="col-md-3">
      <div class="sidebar">
        <h4 class="section-title">Sorting</h4>
        <div class="custom-select-wrapper mb-4">
          <select
            #SortSelected
            class="form-select"
            (change)="SotingByPrice($event)"
          >
            @for (item of SortingOption; track $index) {
              <option [value]="item.value">{{ item.name }}</option>
            }
          </select>
        </div>
        <h4 class="section-title">Categories</h4>
        <ul class="list-group custom-list-group">
          <li (click)="SelectedId(0)" class="list-group-item custom-list-item">
            All Products
          </li>
          @for (item of Category; track $index) {
            <li
              [class.active]="item.id == ProductParams.CategoryId"
              (click)="SelectedId(item.id)"
              class="list-group-item custom-list-item"
            >
              {{ item.name }}
            </li>
          }
        </ul>
      </div>
    </section>
    <section class="col-md-9">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div *ngIf="product && ProductParams" class="paging-container">
          <span class="text-dark"
            >showing {{ product.length }} of
            {{ ProductParams.pageSize * ProductParams.pageNumber }}</span
          >
        </div>
        <div class="search-container">
          <div class="input-group search-bar">
            <input
              type="text"
              #search
              (keyup)="OnSearch(search.value)"
              (keyup.enter)="OnSearch(search.value)"
              class="form-control"
              placeholder="Search..."
            />
            <input
              type="button"
              (click)="OnSearch(search.value)"
              class="btn btn-danger"
              value="Search"
            />
            <input
              type="button"
              (click)="ResetValue()"
              class="btn btn-dark"
              value="Reset"
            />
          </div>
        </div>
      </div>
      <div class="row g-4">
        @for (item of product; track $index) {
          <ng-container>
            <app-shop-item
              [Product]="item"
              class="product-item col-lg-4 col-md-6"
            ></app-shop-item>
          </ng-container>
        }
      </div>
      <!-- Pagination -->
      <div class="d-flex justify-content-center align-items-center mt-5">
        <app-pagination
          [TotalCount]="TotalCount"
          (pageChanged)="OnChangePage($event)"
        >
        </app-pagination>
      </div>
    </section>
  </div>
</div>
