<div class="card h-100">
  <img
    [src]="'https://localhost:44330' + Product.photos[0].imageName"
    class="card-image-top"
  />
  <div class="card-body">
    <div class="thumbnails mb-3">
      @for (item of Product.photos; track $index) {
        <img
          [src]="'https://localhost:44330' + item.imageName"
          class="thumbnails-img small-img"
        />
      }
    </div>
    <h5 class="card-title">{{ Product.name }}</h5>
    <!-- <p class="card-text">
      {{ Product.description }}
    </p> -->
    <p class="card-text">
  <span class="desc-text">{{ Product.description }}</span>
  <a
    *ngIf="Product.description?.length > 150"
    [routerLink]="['/shop/product-details', Product.id]"
    class="read-more-link"
  >
    Read more
  </a>
</p>
    <p class="price">
      <span class="old-price">{{ Product.oldPrice | currency }}</span>
      {{ Product.newPrice | currency }}
    </p>
    <div class="rating mb-3"></div>
    <button class="btn btn-outline-primary favorite-icon">
      <i class="fa fa-bookmark"></i>
    </button>
    <div class="d-flex justify-content-between align-items-start">
      <button (click)="SetBasketValue()" class="btn btn-dark">
        <i class="fa fa-shopping-cart"></i>Add To Cart
      </button>
      <button class="btn btn-success">
        <i
          [routerLink]="['product-details', Product.id]"
          class="fa fa-info-circle"
        ></i
        >Details
      </button>
    </div>
  </div>
</div>
